.whole-body {
    width: 414px;

    margin-top: 92px;
    margin-bottom: 108px;
    background-color: aqua;
    padding-top: 31px;
}
.top-bar {
    position: fixed;
    left: 0px;
    top: 0px;
    
    width: 414px;
    height: 92px;

    background-color: #CF2B2B;
    box-shadow: 0px 3px 6px 0px grey;
}
h1 {
    font-family: Righteous;
    font-size: 44px;
    line-height: 55px;
    font-weight: 400;
    color: #FFFFFF;

    margin-left: 21px;
}
h2 {
    font-family: Roboto;
    font-size: 18px;
    line-height: 21px;
    font-weight: 400;
    color: #FFFFFF;

    margin-left: 21px;
}

.container-options{
    margin-left: 19px;
}
.category-title {
    line-height: 32px;
    font-family: 'Righteous';
    font-weight: 400;
    font-size: 26px;
    margin-bottom: 17px; 
}
.container-food {
    display: flex;
    margin-bottom: 27px;
}
.container-drink {
    display: flex;
    margin-bottom: 27px;
}
.container-dessert {
    display: flex;
}
.option {
    width: 172px;
    height: 216px;
    
    margin-right: 16px;
    border-radius: 9px;

    background-color: brown;
    
}
.checkout-bar {
    position: fixed;
    bottom: 0px;
    left: 0px;

    width: 414px;
    height: 92px;

    background-color: green;
}
